/target
**/target

# This README should be generated with https://github.com/chmln/sd by running:
#   cat ./README.md | sd --fixed-strings '](./' '](../../' > ./crates/macro/README.md
# We should not set `readme = "../../README.md"` in `/crates/macro/Cargo.toml`. Otherwise, links on crates.io will be wrong.
/crates/macro/README.md
